.shopping-cart,
.expand-more,
.ramen-dining,
.local-bar,
.dropnav i {
  width: 0;
  opacity: 0;
  transition: .5s;
  /* transform: translateY(11.5%); */
}

.expand-more-navbar {
  width: 24px;
  color: #780e18;
  transition: .5s;
}

.fa {
  color: #780e18;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}