:root {
  /* color */
  --primary-color: #FDF9F0;
  --secondary-color: #F1DAC8;
  --third-color:#F8E8DB;  /*Only use when needed*/
  --accent-color: #492D1F;
}

.shopping-cart,
.expand-more,
.ramen-dining,
.local-bar,
.dropnav i {
  width: 0;
  opacity: 0;
  transition: .5s;
  /* transform: translateY(11.5%); */
}

.expand-more-navbar {
  width: 24px;
  color: var(--accent-color);
  transition: .5s;
}

.fa {
  color: var(--accent-color) ;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}