html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;

}
header, main, footer {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.article-image {
  text-align: center;
}

.image {
  max-width: 100%;
}

